<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="fluitech.org" value="https://baget.fluitech.org/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="fluitech.org">
			<package pattern="FluiTec.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>